In [1]:
import pandas as pd
import numpy as np

reviews_full = pd.read_json('reviews.json', lines=True)
reviews_full.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38

In [2]:
reviews = reviews_full.sample(frac=0.1, replace=False, random_state=1)
reviews = reviews.reset_index(drop=True)
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,kJa4M0WsQaGwoMDSP0c-hw,sizanx4RIwRC3BfhQv8KOg,kPR47uxGqmQNIQkIZr2_Tg,5,1,0,0,Friendly staff and generous portions of great ...,2016-06-12 04:28:37
1,8qst2v9HE8tV7B3IFvtSIA,DXP3K7wG_nu9jYPzQ8xVFA,qHQPvp6pZ75fB63kOKUPqg,5,2,1,0,Job well done!! Thank you Rick for making our ...,2014-08-13 19:10:43
2,DYAIyC476YkouqJgXuUv_A,OTRxfMCtfrbUemIigxCaOg,vhIJ91MDgUuk4Cr9Kpj1Nw,4,1,0,0,I'm a big fan of Jimmy John's. This location i...,2012-04-29 10:58:50
3,vCJS9ok_G3OfuxCtT3UNYg,d84GXn6uhT1qyDEziAmR8Q,oH4iqq4kjJfXpHCgB9G1sw,4,0,0,0,Well Spa was surprisingly posh and I loved it!...,2013-11-14 21:10:14
4,rMpvc3Hua7qRtDph8_pnpw,Ixaz7mLwzGQGg_W2yfBGqg,kPR47uxGqmQNIQkIZr2_Tg,5,0,0,0,Wanted to try this place for a while and it di...,2015-07-17 22:52:49

In [3]:
%%time
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

# tokenizer: tokenize the text. break text into sentences and sentences into words
reviews['tokens'] = reviews['text'].map(word_tokenize)
reviews['tokens'] = reviews['tokens'].map(lambda x: set(x))

# # lemmatizer: reduce words to their base form
lemmatizer = WordNetLemmatizer()
reviews['lemmatized'] = reviews['tokens'].map(lambda x: [lemmatizer.lemmatize(word) for word in x])
reviews['lemmatized'] = reviews['lemmatized'].map(lambda x: set(x))

# # remove stop words
stop_words = set(stopwords.words('english'))
reviews['processed'] = reviews['lemmatized'].map(lambda x: [word for word in x 
                                                            if word.lower() not in stop_words])

# remove punctuations
punc = "!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~..."
reviews['processed'] = reviews['processed'].map(lambda x: [word for word in x 
                                                           if word.lower() not in punc])

# # remove some other stuff and return lower case
others = ["''", "``", "n't", "l", "'m", "'s"]
reviews['processed'] = reviews['processed'].map(lambda x: [word.lower() for word in x 
                                                 if word.lower() not in others])

reviews.head()

Wall time: 16.9 s

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,tokens,lemmatized,processed
0,kJa4M0WsQaGwoMDSP0c-hw,sizanx4RIwRC3BfhQv8KOg,kPR47uxGqmQNIQkIZr2_Tg,5,1,0,0,Friendly staff and generous portions of great ...,2016-06-12 04:28:37,"{and, generous, eat, !, can, portions, ., u, g...","{portion, staff, and, of, generous, eat, can, ...","[portion, staff, generous, eat, u, great, fish..."
1,8qst2v9HE8tV7B3IFvtSIA,DXP3K7wG_nu9jYPzQ8xVFA,qHQPvp6pZ75fB63kOKUPqg,5,2,1,0,Job well done!! Thank you Rick for making our ...,2014-08-13 19:10:43,"{look, extremely, was, to, excellence, Job, ar...","{look, extremely, to, excellence, Job, arrived...","[look, extremely, excellence, job, arrived, st..."
2,DYAIyC476YkouqJgXuUv_A,OTRxfMCtfrbUemIigxCaOg,vhIJ91MDgUuk4Cr9Kpj1Nw,4,1,0,0,I'm a big fan of Jimmy John's. This location i...,2012-04-29 10:58:50,"{rush, 's, mile, the, bacon, order, service, a...","{rush, 's, mile, bacon, the, doe, order, servi...","[rush, mile, bacon, doe, order, service, alway..."
3,vCJS9ok_G3OfuxCtT3UNYg,d84GXn6uhT1qyDEziAmR8Q,oH4iqq4kjJfXpHCgB9G1sw,4,0,0,0,Well Spa was surprisingly posh and I loved it!...,2013-11-14 21:10:14,"{was, to, the, full, any, Spa, Great, loungers...","{to, the, full, any, Spa, Great, had, most, ma...","[full, spa, great, massage, nice, lounger, 've..."
4,rMpvc3Hua7qRtDph8_pnpw,Ixaz7mLwzGQGg_W2yfBGqg,kPR47uxGqmQNIQkIZr2_Tg,5,0,0,0,Wanted to try this place for a while and it di...,2015-07-17 22:52:49,"{timers, was, to, lava, disappoint, Gawd, 3, M...","{5, lava, to, disappoint, Gawd, 3, Marie, Oh, ...","[5, lava, disappoint, gawd, 3, marie, oh, brea..."

In [4]:
processed_reviews = reviews['processed'].copy()

In [5]:
import gensim
from gensim.models import Phrases
bigram = Phrases(processed_reviews, min_count=50)
for idx in range(len(processed_reviews)):
    for token in bigram[processed_reviews[idx]]:
        if '_' in token:
            processed_reviews[idx].append(token)

In [6]:
ReviewswStars = pd.DataFrame(processed_reviews)
ReviewswStars['stars'] = reviews['stars']
ReviewswStars

                                               processed  stars
0      [portion, staff, generous, eat, u, great, fish...      5
1      [look, extremely, excellence, job, arrived, st...      5
2      [rush, mile, bacon, doe, order, service, alway...      4
3      [full, spa, great, massage, nice, lounger, 've...      4
4      [5, lava, disappoint, gawd, 3, marie, oh, brea...      5
...                                                  ...    ...
10224  [noted, service, definite, stopping, amount, f...      2
10225  [wo, due, size, problem, 9, restaurant, made, ...      1
10226  [fresh, sushi, close, bit, 4.5, restaurant, la...      4
10227  [decorating, grilled, 10, top, sign, order, al...      4
10228  [following, lined, highly, line, really, took,...      5

[10229 rows x 2 columns]

### Manual Cross-Validation

In [7]:
from sklearn import model_selection
from gensim import corpora, models
from sklearn.ensemble import RandomForestRegressor
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(ReviewswStars['processed'], ReviewswStars['stars'], test_size = 0.2)

In [8]:
Train_X = Train_X.reset_index()
Train_X = Train_X['processed']
Train_Y = Train_Y.reset_index()
Train_Y = Train_Y['stars']

Test_X = Test_X.reset_index()
Test_X = Test_X['processed']
Test_Y = Test_Y.reset_index()
Test_Y = Test_Y['stars']

In [48]:
RandomForest = RandomForestRegressor()
ModelTable = pd.DataFrame(columns = ['BelowThreshold', 'AboveThreshold', 'Topics', 'Passes', 'Workers','Score'])
p=0

##These are verified through X-validation

belows = [20]
aboves = [.4]
numtop = [20]
numpasses = [20]
numworkers = [3]

dictionary_train = gensim.corpora.Dictionary(Train_X)
dictionary_test = gensim.corpora.Dictionary(Test_X)

for belowtest in belows:
    
    for abovetest in aboves:
        
        dictionary_train.filter_extremes(no_below=belowtest, no_above=abovetest)
        train_corpus = [dictionary_train.doc2bow(review) for review in Train_X]
        
        dictionary_test.filter_extremes(no_below=belowtest, no_above=abovetest)
        test_corpus = [dictionary_test.doc2bow(review) for review in Test_X]
        

        for top in numtop:
            
            X_Train_WProbs = pd.DataFrame(Train_X.copy())
            X_Test_WProbs = pd.DataFrame(Test_X.copy())
            
            for i in range(0,top):
                
                newcol = "Topic_{}".format(i)
                
                X_Train_WProbs.insert(1,column = newcol, value = 0)
                
                X_Test_WProbs.insert(1,column = newcol, value = 0)
                
            for numpass in numpasses:
                
                for work in numworkers:
                    
                    lda_model = gensim.models.LdaMulticore(train_corpus, num_topics = top, id2word=dictionary_train, passes = numpass, workers = work)
                
                    lda_model.save('lda_train.model')
                    train_vecs = []
                    for i in range(len(Train_X)):
                        top_topics_train = lda_model.get_document_topics(train_corpus[i], minimum_probability=0.0)
                        topic_vec_train = [top_topics_train[i][1] for i in range(0,top)]
                        train_vecs.append(topic_vec_train)
                    
                    test_vecs = []
                    for i in range(len(Test_X)):
                        top_topics_test = lda_model.get_document_topics(test_corpus[i], minimum_probability=0.0)
                        topic_vec_test = [top_topics_test[i][1] for i in range(0,top)]
                        test_vecs.append(topic_vec_test)
                        
            
#                     ModelTable.append(ModelRow)
                    for n in range(0,len(train_vecs)):
                        vec = train_vecs[n]
                        for i in range(0,len(vec)):
                            ColTitle = "Topic_{}".format(i)
                            X_Train_WProbs.loc[n,ColTitle] = vec[i]


                    for n in range(0,len(test_vecs)):
                        vec = test_vecs[n]
                        for i in range(0,len(vec)):
                            ColTitle = "Topic_{}".format(i)
                            X_Test_WProbs.loc[n,ColTitle] = vec[i]

                    if p==0:
                        X_train_regression = X_Train_WProbs.drop('processed', axis = 1, inplace = False)
                        X_test_regression = X_Test_WProbs.drop('processed', axis = 1, inplace = False)
                    
                    
                    
RandFor = RandomForest.fit(X_train_regression, Train_Y)
Preds = RandFor.predict(X_test_regression)
Score = np.mean((Preds-Test_Y)**2)
ModelTable.loc[p,['BelowThreshold', 'AboveThreshold', 'Topics', 'Passes', 'Workers','Score']] = [belowtest, abovetest, top,numpass,work,Score]
p +=1

C:\Users\achen\Anaconda3\envs\p36workshop\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [49]:
X_train_regression

,Topic_19,Topic_18,Topic_17,Topic_16,Topic_15,Topic_14,Topic_13,Topic_12,Topic_11,Topic_10,Topic_9,Topic_8,Topic_7,Topic_6,Topic_5,Topic_4,Topic_3,Topic_2,Topic_1,Topic_0
0,0.002942,0.373354,0.002942,0.002942,0.002942,0.002942,0.002942,0.002942,0.225438,0.002942,0.002942,0.002942,0.002942,0.002942,0.002942,0.002942,0.002942,0.002942,0.002942,0.351200
1,0.000746,0.000746,0.084951,0.277048,0.000746,0.000746,0.000746,0.000746,0.004708,0.000746,0.000746,0.048735,0.159725,0.000746,0.056187,0.358942,0.000746,0.000746,0.000746,0.000746
2,0.002500,0.002500,0.383542,0.002500,0.002500,0.210985,0.002500,0.002500,0.002500,0.002500,0.362966,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500
3,0.002000,0.002000,0.152021,0.002000,0.002000,0.002000,0.002000,0.002000,0.273625,0.002000,0.002000,0.002000,0.002000,0.002000,0.002000,0.415060,0.002000,0.002000,0.127290,0.002000
4,0.005556,0.005556,0.493148,0.204790,0.005556,0.005556,0.005556,0.207609,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8178,0.001000,0.001000,0.001000,0.001000,0.001000,0.001000,0.001000,0.001000,0.001000,0.090926,0.001000,0.001000,0.170343,0.001000,0.001000,0.001000,0.496692,0.048693,0.001000,0.178341
8179,0.001725,0.001725,0.001725,0.001725,0.001725,0.001725,0.105495,0.001725,0.057552,0.001725,0.001725,0.001725,0.001725,0.001725,0.001725,0.221645,0.271901,0.001725,0.317537,0.001725
8180,0.001352,0.001352,0.455286,0.001352,0.001352,0.001352,0.001352,0.001352,0.001352,0.520384,0.001352,0.001352,0.001352,0.001352,0.001352,0.001352,0.001352,0.001352,0.001352,0.001352
8181,0.002382,0.002382,0.002382,0.002382,0.113832,0.002382,0.002382,0.002382,0.002382,0.002382,0.002382,0.258671,0.002382,0.002382,0.002382,0.002382,0.002382,0.002382,0.587012,0.002382
8182,0.001316,0.001316,0.001316,0.001316,0.001316,0.001316,0.001316,0.404060,0.001316,0.001316,0.001316,0.132703,0.001316,0.001316,0.001316,0.001316,0.001316,0.001316,0.440863,0.001316

In [50]:
from sklearn.model_selection import GridSearchCV

model = RandomForestRegressor()

parameters = {
    "n_estimators": [50, 90],
    "max_depth":[10, 20],
    'min_samples_split': [50, 100],
    'max_features': ['sqrt']
     }

RF_clf = GridSearchCV(model,
                    parameters, n_jobs=-1,
                    scoring="r2",
                    cv=3, verbose = 3)

In [51]:
RF_fit = RF_clf.fit(X_train_regression, Train_Y)

Fitting 3 folds for each of 8 candidates, totalling 24 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 out of  24 | elapsed:    3.5s remaining:    1.1s
[Parallel(n_jobs=-1)]: Done  24 out of  24 | elapsed:    4.5s finished

In [52]:
print('Best score obtained: %0.3f' % RF_fit.best_score_)
print('Best parameters found:\n', RF_fit.best_params_)

Best score obtained: 0.372
Best parameters found:
 {'max_depth': 20, 'max_features': 'sqrt', 'min_samples_split': 50, 'n_estimators': 90}

In [39]:
RF_best = RandomForestRegressor(max_depth=20, max_features='sqrt', min_samples_split=50, 
                                n_estimators = 90)
RF_best.fit(X_train_regression, Train_Y)
y_pred = RF_best.predict(X_test_regression)

## Next steps

At this point I think some more things that could be done:

1) LDA with TF-IDF rather than bag of words

2) Using either LDA (TF-IDF/BoW) with different types of regression models

3) Cop out answer: BETTER PREPROCESSING XDDDDDDDDDDDDDDDD